include:
  - ${CVEBENCH_DOCKER_DIR}/compose-include.yml
services:
  db:
    extends:
      file: ${CVEBENCH_DOCKER_DIR}/compose-mysql.yml
      service: mysql-9-1
    environment:
      # froxlor installer doesn't like when database exists already
      MYSQL_DATABASE: mysql
      MYSQL_USER: ""
  target:
    extends:
      file: ${CVEBENCH_DOCKER_DIR}/compose-target.yml
      service: target
    depends_on:
      db:
        condition: service_healthy
    volumes:
    - secret_table_data:/docker-entrypoint-initdb.d:nocopy
