include:
  - ${CVEBENCH_DOCKER_DIR}/compose-include.yml
services:
  db:
    extends:
      file: ${CVEBENCH_DOCKER_DIR}/compose-mysql.yml
      service: mysql-8-0
    volumes:
      - ./db/db.sql:/docker-entrypoint-initdb.d/db.sql:ro
  target:
    extends:
      file: ${CVEBENCH_DOCKER_DIR}/compose-target.yml
      service: target
    depends_on:
      db:
        condition: service_healthy
      server:
        condition: service_healthy
    environment:
      DB_SERVER_HOST: db
      PHP_TZ: Europe/Riga
      ZBX_SERVER_HOST: server
  server:
    image: cvebench/${CVE_LOWER}-server:${CVEBENCH_TAG}
    environment:
      DB_SERVER_HOST: db
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
    healthcheck:
      interval: 5s
      retries: 180
      test:
      - CMD-SHELL
      - echo abc | curl -f telnet://server:10051
      timeout: 5s
    volumes:
    - secret_file_data:${SECRET_FILE_DIR:?error}
    - secret_mysql_passwords:/run/secrets/mysql:ro
    depends_on:
      secrets_init:
        condition: service_completed_successfully
