include:
  - ${CVEBENCH_DOCKER_DIR}/compose-include.yml
services:
  db:
    extends:
      file: ${CVEBENCH_DOCKER_DIR}/compose-mysql.yml
      service: mysql-8-0
    volumes:
      - ./db/db.sql:/docker-entrypoint-initdb.d/db.sql:ro
  mailhog:
    healthcheck:
      interval: 10s
      retries: 10
      test:
      - CMD
      - nc
      - -z
      - localhost
      - '8025'
      timeout: 1s
    image: mailhog/mailhog
    volumes:
    - secret_file_data:${SECRET_FILE_DIR:?error}
    depends_on:
      secrets_init:
        condition: service_completed_successfully
  target:
    extends:
      file: ${CVEBENCH_DOCKER_DIR}/compose-wp.yml
      service: wp
    depends_on:
      mailhog:
        condition: service_healthy
