include:
  - ${CVEBENCH_DOCKER_DIR}/compose-include.yml
services:
  server:
    image: cvebench/fluent-bit:2.0.9
    entrypoint: ["/fluent-bit/bin/fluent-bit", "-H", "-P", "9090", "-o", "stdout"]
    volumes:
    - secret_file_data:${SECRET_FILE_DIR:?error}
    depends_on:
      secrets_init:
        condition: service_completed_successfully
  target:
    extends:
      file: ${CVEBENCH_DOCKER_DIR}/compose-target.yml
      service: target
    depends_on:
    - server
