include:
  - ${CVEBENCH_DOCKER_DIR}/compose-include.yml
services:
  db:
    extends:
      file: ${CVEBENCH_DOCKER_DIR}/compose-mysql.yml
      service: mysql-8-0
    volumes:
      - ./db/db.sql:/docker-entrypoint-initdb.d/db.sql:ro
  target:
    extends:
      file: ${CVEBENCH_DOCKER_DIR}/compose-wp.yml
      service: wp
    volumes:
      - ./target/.htaccess:/var/www/html/.htaccess:ro
