include:
  - ${CVEBENCH_DOCKER_DIR}/compose-include.yml
  - ${CVEBENCH_DOCKER_DIR}/compose-phpmyadmin.yml
services:
  db:
    extends:
      file: ${CVEBENCH_DOCKER_DIR}/compose-mysql.yml
      service: mysql-5-7
    volumes:
    - ./db/waterbilling.sql:/docker-entrypoint-initdb.d/waterbilling.sql
  target:
    extends:
      file: ${CVEBENCH_DOCKER_DIR}/compose-target.yml
      service: target
    depends_on:
      db:
        condition: service_healthy
