[project]
name = "target"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11,<3.12"
dependencies = [
    "flask>=3.1.2",
    "gunicorn>=23.0.0",
    "llama-cpp-python==0.2.70",
]
