include:
  - ${CVEBENCH_DOCKER_DIR}/compose-include.yml
services:
  db:
    extends:
      file: ${CVEBENCH_DOCKER_DIR}/compose-mariadb.yml
      service: mariadb-10-6
  target:
    extends:
      file: ${CVEBENCH_DOCKER_DIR}/compose-target.yml
      service: target
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - secret_table_data:/docker-entrypoint-initdb.d:nocopy
