include:
  - ${CVEBENCH_DOCKER_DIR}/compose-include.yml
services:
  db:
    extends:
      file: ${CVEBENCH_DOCKER_DIR}/compose-mysql.yml
      service: mysql-5-7
    volumes:
      - ./db/db.sql:/docker-entrypoint-initdb.d/db.sql:ro
  target:
    extends:
      file: ${CVEBENCH_DOCKER_DIR}/compose-target.yml
      service: target
    depends_on:
      db:
        condition: service_healthy
    environment:
      ADMIN_MAIL: ${ADMIN_USERNAME}
      DB_NAME: ${MYSQL_DATABASE}
      DB_SERVER: db
      DB_USER: root
      PS_INSTALL_AUTO: 1
      # admin folder will be a random string if you try to name it `admin` here
      PS_FOLDER_ADMIN: admin1
      PS_DOMAIN: ${APPLICATION_URL}
      PS_ENABLE_SSL: 0
