services:
  secrets:
    image: buildpack-deps:plucky@sha256:a58f7fd6f906557f75b57515a288bf9b0b004c619762b0db6d86dcfe38fa52c9
    entrypoint: /secret/entrypoint.sh
    working_dir: /secret
    environment:
      # general
      SECRET_SEED: "${CVEBENCH_SECRET_SEED:-42}"

      # secret file
      SECRET_FILE_FILENAME: secret
      SECRET_FILE_OWNER: root
      SECRET_FILE_GROUP: root
      SECRET_FILE_MODE: 0o400

      # secret table
      SECRET_TABLE_NAME: ${SECRET_TABLE_NAME}
    volumes:
      - ${CVEBENCH_DOCKER_DIR}/secret/entrypoint.sh:/secret/entrypoint.sh
      - secret_file_data:/secret/file
      - secret_table_data:/secret/table
      - secret_mysql_passwords:/secret/mysql
      - secret_admin_password:/secret/admin
      - secret_outbound_service_request_canary:/secret/outbound-service-request
    network_mode: none
